@model Hogwarts.Data.Usuario

@{
    var title = "Bienvenido";
    ViewData["title"] = title;
}

<div class="contenerdor-center">  
    <div class="contedor" id="contenedor">
        <div class="contenedorcentrado" id="contenedorcentrado">
            <div class="login" id="login">
                @using (Html.BeginForm("Login", "Home", FormMethod.Post, new{ @class="form-signin", role="form"}))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-white" })
                    @Html.TextBoxFor(m => m.Id, new { @class = "usuario", placeholder = "Clave", required="required", autofocus="autofocus" })
                    <br />
                    @Html.PasswordFor(m => m.Contrasena, new { @class = "password", placeholder = "Contraseña", required="required" })
                    <br />
                    <input type="submit" value="Iniciar sesión" class="ov-btn-grow-box" />
                }
            </div>
            <div class="derecho" id="derecho">
                <div class="titulo">Bienvenido a Hogwarts</div>
                <hr>
                <div class="pie-form">
                    <a href="#">¿Perdiste tu contraseña?</a>
                </div>
            </div>
        </div>
    </div>
</div>  
